*.sdf
ipch/
src/gen/
GeneratedFiles/
.gradle/
build/
i386/
objfre*/
deploy/
Debug/
debug/
release/
Release/
sys/obj*/

*.opensdf
*.bin
*.ncb
*.sln
*.suo
*.obj
*.user
*.log
*.err
libd/
libr/
LibD/
LibR/
output/
